<div id="browserExternalImage" class="externalImageTabPanel window"  style="display:none">
  <div class="contentPanel">
    <div class="content">
      <table class="fields">
        <tbody>
          <tr>
            <th><label for="externalLocation">URL:</label></th>
            <td><input name="browser[url]" class="full" type="text" value="<%= params[:url] if @active_tab == "Skyline::ReferableUri" %>"/></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
  var etp = new Skyline.HorizontalLayout("browserExternalImage", {layout: "horizontal", height: 200, hidden: true});
  etp.addPanel(etp.element.getElement(".contentPanel"));
</script>