<div class="add">
<%= link_to( 
      t(:add_more, :scope => [:content], :class => target_class.plural_name), 
      {
        :controller => "skyline/content/editors/joinable_list", 
        :action => "index", 
        :source_type => source_object.class.to_s.demodulize.underscore, 
        :source_id => source_object,
        :association => association
      },
      :remote => true,
			:loading => "toggle_spin('element_skyline_#{association}_add_more','#{t(:loading, :scope => [:content, :global])}')",
			:complete => "toggle_spin('element_skyline_#{association}_add_more')", 
			:class => "add",
			:id => "element_skyline_#{association}_add_more"
			)
			
	 #TODO - link_to :remote => true,  has not been tested 
 %>
</div>