<% if link_section.title.present? %>
<% x = assign(:heading_level).to_i + 1 %>
<h<%= x %>><%=link_section.title%></h<%= x %>>
<% end %>
<% if link_section.links.any? %>
  <ul class="links">
    <% link_section.links.each do |link| %>
      <% if link.present? %>
        <li><%=link_to link.title, link.url(:mode => renderer.mode)%></li>
      <% end %>
    <% end %>
  </ul>
<% end %>