<div class="image <%= media_section.alignment %>">
  <img src="<%= media_section.url %>" alt="<%= media_section.caption %>" />
  <% if media_section.caption.present? %>
    <p class="caption"><%= media_section.caption %></p>
  <% end %>
</div>