<div id="dirtree" class="tree">
  <% if local_assigns.has_key?(:media_dirs) %>
    <%= media_dir_tree(media_dirs,media_dirs[nil],
          :selected => (local_assigns[:selected_node] || Skyline::MediaDir.root),
          :id_prefix => "dirItem"
        ) %>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
  if(Application.Layout.current){
    Application.Layout.current.initializeDirTree();
  }
</script>